// VARIABLES
$color-hero-bg: #efefef;
$color-light-blue: #149cbe;


// BASE
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    box-sizing: border-box;
}


// LAYOUT
$logo-margin: 1.5rem;
$logo-size: 5rem;

.header {

    background-color: $color-hero-bg;
    height: 100vh;

    &__logo-box {
        position: absolute;
        text-align: center;
        top: $logo-margin;
        left: $logo-margin;
        width: $logo-size;
        height: $logo-size;
        background-color: rgba($color-light-blue, 0.2);
        font-size: 1.5rem;
    }

    &__logo {
        line-height: $logo-size;
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
}

// HEADING
.heading-primary {

    text-transform: uppercase;

    &--main {
        display: block;
        font-size: 5rem;
    }
    &--sub {
        display: block;
        font-size: 1.8rem;
    }
}