// HEADING
.heading-primary {

    text-transform: uppercase;

    &--main {
        display: block;
        font-size: 5rem;
    }
    &--sub {
        display: block;
        font-size: 1.8rem;
    }
}
